.profile__info {
    max-width: 336px;
    display: grid;
    grid-template-columns: 1fr 24px;
    grid-column-gap: 18px;
    grid-row-gap: 16px;
    color: #fff;
    position: relative;
}



@media screen and (max-width: 767px) {
    .profile__info {
        display: flex;
        flex-direction: column;
        grid-row-gap: 14px;
        max-width: 245px;
    }
}

