.popup__close-button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    transition: opacity .3s linear;
    background-image: url(../../../images/cross-icon.svg);
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}


.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        top: -34px;
        right: 0px;
        width: 20px;
        height: 20px;
    }
}