.popup__button_disabled {
    background-color: #fff;
    border: 1px solid #000000;
    color: #000000;
    opacity: .5;
    cursor: not-allowed;
}

.popup__button_disabled:hover {
    cursor: not-allowed;
    opacity: .5;
}