.popup__error {
    margin-left: 3px;
    visibility: hidden;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    width: 100%;
    padding: 5px 0 0 0;
}