.popup__window {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    max-width: 430px;
}